@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

body{
    background-image: url(./img/back.jpg) ;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    position: relative;
    max-width: 300px;
}

header .nevigation {
    position: relative;
    display: flex;
}

header .nevigation li{
    list-style: none;
}
header .nevigation li a{
    display: inline-block;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    font-size: 20px;
}

.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox{
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .textBox h2{
    color: #B98D2A;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 1.4em;
    font-weight: 700;
}
.content .textBox p{
    color: #fff;
}

.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #11A89D;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;

}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;

  }
  .toogle{
      display: none;
  }

  .content .imgBox{
      width: 500px;
      display: flex;
      justify-content: flex-end;
  }

  .content .imgBox img{
      max-width: 300px;
     
  }

  .swiper-slide img{
      position: absolute;
      bottom: 0;
      min-height: 100%;

  }

  .swiper-3d .swiper-slide-shadow-left,
  .swiper-3d .swiper-slide-shadow-right
  {
      background-image: none;
  }

  @media (max-width: 900px){
      header{
          padding: 40px;
      }
      header .logo{
          max-width: 200px;
      }

      section{
          padding: 150px 40px;
      }

      .content{
          flex-direction: column;
      }

      .content .textBox{
          max-width: 100%;
      }

      .content .textBox,
      .content .imgBox{
          max-width: 100%;
      }

      .swiper-slide{
          height: 300px;  
      }

      header .nevigation{
          display: none;
      }

      header .nevigation.active{
          display: flex;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url(./img/back.jpg);
          flex-direction: column;
          justify-content:center ;
          align-items: center;
          z-index: 10;

      }

      .toogle{
        position: relative;
        display: block;
        font-size: 15px;
        color: #fff;
        background-color: #B98D2A;
        border-radius: 30px ;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 10000;
      }

     

      
  }
